build
transform
node_modules
.idea
.DS_Store
resources/scripts/*.js
resources/scripts/*.map
!resources/scripts/browse.js
resources/lib/
resources/css/leaflet/
resources/css/prismjs
resources/css/pagedjs
resources/css/gridjs
resources/css/tom-select
resources/css/components.css
resources/images/openseadragon
resources/images/leaflet
resources/i18n/common