<?xml version="1.0" encoding="UTF-8" ?>
<meta xmlns="http://exist-db.org/xquery/repo" commit-id="@commit-id@" commit-time="@commit-time@">
    <description>Shakespeare's Plays (TEI Publisher Edition)</description>
    <author />
    <status>beta</status>
    <license>GNU-LGPL</license>
    <copyright>true</copyright>
    <type>application</type>
    <prepare>pre-install.xql</prepare>
    <finish>post-install.xql</finish>
    <target>shakespeare-pm</target>
    <permissions user="shakes" password="shakes" group="tei" mode="rw-r--r--" />
    <deployed>2020-05-25T18:25:01.637+02:00</deployed>
</meta>
