.logo {
    background-image: url("../images/icon.png");
    background-size: contain;
}

body {
    --pb-logo-image-width: 80px;
}
body .menubar {
    padding:0 16px 0 0;
    margin:0
}

body .menubar .logo {
    margin:0;
    padding:0;
}

.cover-image {
    float: left;
    padding-right: 20px;
}
